@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul>
    <li>Chocolate</li>
    <li>Natillas</li>
    <li>Galletas</li>
    <li>Rom</li>
    <li>Cafe</li>
</ul>

@Html.ActionLink("Inicio", "Index", "Home")